In [1]:
import pandas as pd 
import math as math

In [2]:
df = pd.read_csv(r"C:\Users\ashud\OneDrive\Desktop\Data mining - LAB Assignment\crop_production.csv")
df.pivot_table(index=["State_Name", "District_Name", "Season"], columns=["Crop_Year"], values=["Crop", "Area", "Production"])

                                                                           Area  \
Crop_Year                                                                  1997
State_Name                  District_Name            Season
Andaman and Nicobar Islands NICOBARS                 Autumn                 NaN
                                                     Kharif                 NaN
                                                     Rabi                   NaN
                                                     Whole Year             NaN
                            NORTH AND MIDDLE ANDAMAN Autumn                 NaN
...                                                                         ...
West Bengal                 PURULIA                  Kharif         2689.833333
                                                     Rabi         118172.571429
                                                     Summer         1515.000000
                                                     Whole Year     2087.000000
                                                     Winter       315095.000000

                                                                                 \
Crop_Year                                                                  1998
State_Name                  District_Name            Season
Andaman and Nicobar Islands NICOBARS                 Autumn                 NaN
                                                     Kharif                 NaN
                                                     Rabi                   NaN
                                                     Whole Year             NaN
                            NORTH AND MIDDLE ANDAMAN Autumn                 NaN
...                                                                         ...
West Bengal                 PURULIA                  Kharif         2197.545455
                                                     Rabi            749.800000
                                                     Summer         3060.000000
                                                     Whole Year      789.250000
                                                     Winter       227172.000000

                                                                                \
Crop_Year                                                                 1999
State_Name                  District_Name            Season
Andaman and Nicobar Islands NICOBARS                 Autumn                NaN
                                                     Kharif                NaN
                                                     Rabi                  NaN
                                                     Whole Year            NaN
                            NORTH AND MIDDLE ANDAMAN Autumn                NaN
...                                                                        ...
West Bengal                 PURULIA                  Kharif        1934.846154
                                                     Rabi           646.000000
                                                     Summer        1827.000000
                                                     Whole Year     212.000000
                                                     Winter       98662.000000

                                                                                 \
Crop_Year                                                                  2000
State_Name                  District_Name            Season
Andaman and Nicobar Islands NICOBARS                 Autumn                 NaN
                                                     Kharif          452.666667
                                                     Rabi                   NaN
                                                     Whole Year     2735.142857
                            NORTH AND MIDDLE ANDAMAN Autumn                 NaN
...                                                                         ...
West Bengal                 PURULIA                  Kharif         2570.615385
                                                     Rabi            705.125000
                                                     Summer         1023.000000
                                                     Whole Year      474.571429
                                                     Winter       258531.000000

                                                                                 \
Crop_Year                                                                  2001
State_Name                  District_Name            Season
Andaman and Nicobar Islands NICOBARS                 Autumn                 NaN
                                                     Kharif          446.333333
                                                     Rabi                   NaN
                                                     Whole Year     3793.400000
                            NORTH AND MIDDLE ANDAMAN Autumn                 NaN
...                                                                         ...
West Bengal                 PURULIA                  Kharif         1993.230769
                                                     Rabi            644.363636
                                                     Summer          487.000000
                                                     Whole Year      643.142857
                                                     Winter       290378.000000

                                                                                \
Crop_Year                                                                 2002
State_Name                  District_Name            Season
Andaman and Nicobar Islands NICOBARS                 Autumn                NaN
                                                     Kharif         189.200000
                                                     Rabi                  NaN
                                                     Whole Year    2619.787500
                            NORTH AND MIDDLE ANDAMAN Autumn                NaN
...                                                                        ...
West Bengal                 PURULIA                  Kharif        1568.692308
                                                     Rabi           673.545455
                                                     Summer         239.750000
                                                     Whole Year     308.250000
                                                     Winter       76948.000000

                                                                                 \
Crop_Year                                                                  2003
State_Name                  District_Name            Season
Andaman and Nicobar Islands NICOBARS                 Autumn                 NaN
                                                     Kharif           52.000000
                                                     Rabi                   NaN
                                                     Whole Year     2596.305000
                            NORTH AND MIDDLE ANDAMAN Autumn                 NaN
...                                                                         ...
West Bengal                 PURULIA                  Kharif         1816.428571
                                                     Rabi            687.000000
                                                     Summer          952.500000
                                                     Whole Year      574.250000
                                                     Winter       290796.000000

                                                                                 \
Crop_Year                                                                  2004
State_Name                  District_Name            Season
Andaman and Nicobar Islands NICOBARS                 Autumn                 NaN
                                                     Kharif           52.940000
                                                     Rabi                   NaN
                                                     Whole Year     2584.165000
                            NORTH AND MIDDLE ANDAMAN Autumn                 NaN
...                                                                         ...
West Bengal                 PURULIA                  Kharif         2480.363636
                                                     Rabi            463.000000
                                                     Summer         1354.000000
                                                     Whole Year      636.777778
                                                     Winter       287528.000000

                                                                                 \
Crop_Year                                                                  2005
State_Name                  District_Name            Season
Andaman and Nicobar Islands NICOBARS                 Autumn                 NaN
                                                     Kharif            2.090000
                                                     Rabi                   NaN
                                                     Whole Year     2173.177143
                            NORTH AND MIDDLE ANDAMAN Autumn                 NaN
...                                                                         ...
West Bengal                 PURULIA                  Kharif         1757.846154
                                                     Rabi            865.272727
                                                     Summer          619.000000
                                                     Whole Year      554.000000
                                                     Winter       264150.000000

                                                                                 \
Crop_Year                                                                  2006
State_Name                  District_Name            Season
Andaman and Nicobar Islands NICOBARS                 Autumn                 NaN
                                                     Kharif                 NaN
                                                     Rabi                   NaN
                                                     Whole Year     1455.080909
                            NORTH AND MIDDLE ANDAMAN Autumn                 NaN
...                                                                         ...
West Bengal                 PURULIA                  Kharif         2022.333333
                                                     Rabi            949.454545
                                                     Summer          695.000000
                                                     Whole Year      620.333333
                                                     Winter       277234.000000

                                                                  ...  \
Crop_Year                                                         ...
State_Name                  District_Name            Season       ...
Andaman and Nicobar Islands NICOBARS                 Autumn       ...
                                                     Kharif       ...
                                                     Rabi         ...
                                                     Whole Year   ...
                            NORTH AND MIDDLE ANDAMAN Autumn       ...
...                                                               ...
West Bengal                 PURULIA                  Kharif       ...
                                                     Rabi         ...
                                                     Summer       ...
                                                     Whole Year   ...
                                                     Winter       ...

                                                                    Production  \
Crop_Year                                                                 2006
State_Name                  District_Name            Season
Andaman and Nicobar Islands NICOBARS                 Autumn                NaN
                                                     Kharif                NaN
                                                     Rabi                  NaN
                                                     Whole Year   5.397464e+06
                            NORTH AND MIDDLE ANDAMAN Autumn                NaN
...                                                                        ...
West Bengal                 PURULIA                  Kharif       2.075500e+03
                                                     Rabi         7.313636e+02
                                                     Summer       1.667000e+03
                                                     Whole Year   4.411178e+04
                                                     Winter       7.250850e+05

                                                                                 \
Crop_Year                                                                  2007
State_Name                  District_Name            Season
Andaman and Nicobar Islands NICOBARS                 Autumn                 NaN
                                                     Kharif                 NaN
                                                     Rabi                   NaN
                                                     Whole Year             NaN
                            NORTH AND MIDDLE ANDAMAN Autumn                 NaN
...                                                                         ...
West Bengal                 PURULIA                  Kharif         1050.600000
                                                     Rabi            441.923077
                                                     Summer          952.400000
                                                     Whole Year   158678.666667
                                                     Winter       380016.500000

                                                                                 \
Crop_Year                                                                  2008
State_Name                  District_Name            Season
Andaman and Nicobar Islands NICOBARS                 Autumn                 NaN
                                                     Kharif                 NaN
                                                     Rabi                   NaN
                                                     Whole Year             NaN
                            NORTH AND MIDDLE ANDAMAN Autumn                 NaN
...                                                                         ...
West Bengal                 PURULIA                  Kharif          916.166667
                                                     Rabi            267.454545
                                                     Summer          452.400000
                                                     Whole Year     6509.714286
                                                     Winter       369124.000000

                                                                                 \
Crop_Year                                                                  2009
State_Name                  District_Name            Season
Andaman and Nicobar Islands NICOBARS                 Autumn                 NaN
                                                     Kharif                 NaN
                                                     Rabi                   NaN
                                                     Whole Year             NaN
                            NORTH AND MIDDLE ANDAMAN Autumn                 NaN
...                                                                         ...
West Bengal                 PURULIA                  Kharif          716.600000
                                                     Rabi           3091.846154
                                                     Summer          275.000000
                                                     Whole Year    12632.000000
                                                     Winter       298966.000000

                                                                                \
Crop_Year                                                                 2010
State_Name                  District_Name            Season
Andaman and Nicobar Islands NICOBARS                 Autumn       2.587500e+01
                                                     Kharif                NaN
                                                     Rabi         2.142620e+02
                                                     Whole Year   2.376800e+07
                            NORTH AND MIDDLE ANDAMAN Autumn       1.050360e+04
...                                                                        ...
West Bengal                 PURULIA                  Kharif       2.652222e+02
                                                     Rabi         1.857167e+03
                                                     Summer       2.286667e+02
                                                     Whole Year   1.154100e+04
                                                     Winter       1.307650e+05

                                                                                 \
Crop_Year                                                                  2011
State_Name                  District_Name            Season
Andaman and Nicobar Islands NICOBARS                 Autumn                 NaN
                                                     Kharif                 NaN
                                                     Rabi                   NaN
                                                     Whole Year             NaN
                            NORTH AND MIDDLE ANDAMAN Autumn                 NaN
...                                                                         ...
West Bengal                 PURULIA                  Kharif          396.200000
                                                     Rabi           2265.000000
                                                     Summer          359.666667
                                                     Whole Year    20264.000000
                                                     Winter       365940.500000

                                                                                 \
Crop_Year                                                                  2012
State_Name                  District_Name            Season
Andaman and Nicobar Islands NICOBARS                 Autumn                 NaN
                                                     Kharif                 NaN
                                                     Rabi                   NaN
                                                     Whole Year             NaN
                            NORTH AND MIDDLE ANDAMAN Autumn                 NaN
...                                                                         ...
West Bengal                 PURULIA                  Kharif          535.142857
                                                     Rabi           1827.500000
                                                     Summer          458.666667
                                                     Whole Year    11199.000000
                                                     Winter       364820.500000

                                                                                 \
Crop_Year                                                                  2013
State_Name                  District_Name            Season

In [3]:
df

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0
...,...,...,...,...,...,...,...
246086,West Bengal,PURULIA,2014,Summer,Rice,306.0,801.0
246087,West Bengal,PURULIA,2014,Summer,Sesamum,627.0,463.0
246088,West Bengal,PURULIA,2014,Whole Year,Sugarcane,324.0,16250.0
246089,West Bengal,PURULIA,2014,Winter,Rice,279151.0,597899.0
246090,West Bengal,PURULIA,2014,Winter,Sesamum,175.0,88.0

In [4]:
df.shape

(246091, 7)

In [5]:
split_50_51 =math.ceil(50/100*246091)

In [6]:
print(split_50_51)

123046

In [7]:
df_1 = df.iloc[     :split_50_51,      :] 
df_2 = df.iloc[split_50_51 + 1:       ,:]

In [8]:
df_1.shape

(123046, 7)

In [9]:
df_2.shape

(123044, 7)

In [10]:
distinctyear=df.Crop_Year.unique()
distinctyear.sort()
print(distinctyear)

[1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010
 2011 2012 2013 2014 2015]

In [11]:
grouped = df.groupby(df.Crop_Year) 
df_new=[0 for i in range(len(distinctyear))]
for i in range(0,len(distinctyear)):
    df_new[i] = grouped.get_group(distinctyear[i])

In [12]:
df_new[0].shape

(8899, 7)

In [13]:
df_new[1].shape

(11533, 7)

# Find the count of NaN values attribute(feature) wise in both dataframes

In [14]:
details = pd.DataFrame(df_1, columns =['State_Name','District_Name','Crop_Year','Season','Crop','Area','Production'], ) 
             
print(" \nshow the boolean Dataframe :\n", details.isna()) 
  
print("Count total NaN at each column in a DataFrame:\n",details.isnull().sum())

show the boolean Dataframe :
         State_Name  District_Name  Crop_Year  Season   Crop   Area  Production
0            False          False      False   False  False  False       False
1            False          False      False   False  False  False       False
2            False          False      False   False  False  False       False
3            False          False      False   False  False  False       False
4            False          False      False   False  False  False       False
...            ...            ...        ...     ...    ...    ...         ...
123041       False          False      False   False  False  False       False
123042       False          False      False   False  False  False       False
123043       False          False      False   False  False  False       False
123044       False          False      False   False  False  False       False
123045       False          False      False   False  False  False       False

[123046 rows x 7 columns]
Count total NaN at each column in a DataFrame:
 State_Name          0
District_Name       0
Crop_Year           0
Season              0
Crop                0
Area                0
Production       2494
dtype: int64

In [15]:
details = pd.DataFrame(df_2, columns =['State_Name','District_Name','Crop_Year','Season','Crop','Area','Production'], ) 
             
print(" \nshow the boolean Dataframe :\n", details.isna()) 
  
print("Count total NaN at each column in a DataFrame:\n",details.isnull().sum())

show the boolean Dataframe :
         State_Name  District_Name  Crop_Year  Season   Crop   Area  Production
123047       False          False      False   False  False  False       False
123048       False          False      False   False  False  False       False
123049       False          False      False   False  False  False       False
123050       False          False      False   False  False  False       False
123051       False          False      False   False  False  False       False
...            ...            ...        ...     ...    ...    ...         ...
246086       False          False      False   False  False  False       False
246087       False          False      False   False  False  False       False
246088       False          False      False   False  False  False       False
246089       False          False      False   False  False  False       False
246090       False          False      False   False  False  False       False

[123044 rows x 7 columns]
Count total NaN at each column in a DataFrame:
 State_Name          0
District_Name       0
Crop_Year           0
Season              0
Crop                0
Area                0
Production       1236
dtype: int64

In [16]:
df_1=df_1.fillna(method='ffill')

In [17]:
df_2=df_2.fillna(method='bfill')

In [18]:
details = pd.DataFrame(df_1, columns =['State_Name','District_Name','Crop_Year','Season','Crop','Area','Production'], ) 
             
print(" \nshow the boolean Dataframe :\n", details.isna()) 
  
print("Count total NaN at each column in a DataFrame:\n",details.isnull().sum())

show the boolean Dataframe :
         State_Name  District_Name  Crop_Year  Season   Crop   Area  Production
0            False          False      False   False  False  False       False
1            False          False      False   False  False  False       False
2            False          False      False   False  False  False       False
3            False          False      False   False  False  False       False
4            False          False      False   False  False  False       False
...            ...            ...        ...     ...    ...    ...         ...
123041       False          False      False   False  False  False       False
123042       False          False      False   False  False  False       False
123043       False          False      False   False  False  False       False
123044       False          False      False   False  False  False       False
123045       False          False      False   False  False  False       False

[123046 rows x 7 columns]
Count total NaN at each column in a DataFrame:
 State_Name       0
District_Name    0
Crop_Year        0
Season           0
Crop             0
Area             0
Production       0
dtype: int64

In [19]:
details = pd.DataFrame(df_2, columns =['State_Name','District_Name','Crop_Year','Season','Crop','Area','Production'], ) 
             
print(" \nshow the boolean Dataframe :\n", details.isna()) 
  
print("Count total NaN at each column in a DataFrame:\n",details.isna().sum())

show the boolean Dataframe :
         State_Name  District_Name  Crop_Year  Season   Crop   Area  Production
123047       False          False      False   False  False  False       False
123048       False          False      False   False  False  False       False
123049       False          False      False   False  False  False       False
123050       False          False      False   False  False  False       False
123051       False          False      False   False  False  False       False
...            ...            ...        ...     ...    ...    ...         ...
246086       False          False      False   False  False  False       False
246087       False          False      False   False  False  False       False
246088       False          False      False   False  False  False       False
246089       False          False      False   False  False  False       False
246090       False          False      False   False  False  False       False

[123044 rows x 7 columns]
Count total NaN at each column in a DataFrame:
 State_Name       0
District_Name    0
Crop_Year        0
Season           0
Crop             0
Area             0
Production       0
dtype: int64

# Find the mean value of every attribute and replace with NaN in df1 ?

In [20]:
df_1 = df.iloc[:split_50_51,:] 
df_2 = df.iloc[split_50_51 + 1:,:]

In [21]:
mean_value=df_1['Production'].mean()

In [22]:
print(mean_value)

1005660.005019244

In [23]:
df_1=df_1.fillna(mean_value)

details = pd.DataFrame(df_1, columns =['State_Name','District_Name','Crop_Year','Season','Crop','Area','Production'], ) 
             
print(" \nshow the boolean Dataframe :\n", details.isna()) 
  
print("Count total NaN at each column in a DataFrame:\n",details.isnull().sum())

show the boolean Dataframe :
         State_Name  District_Name  Crop_Year  Season   Crop   Area  Production
0            False          False      False   False  False  False       False
1            False          False      False   False  False  False       False
2            False          False      False   False  False  False       False
3            False          False      False   False  False  False       False
4            False          False      False   False  False  False       False
...            ...            ...        ...     ...    ...    ...         ...
123041       False          False      False   False  False  False       False
123042       False          False      False   False  False  False       False
123043       False          False      False   False  False  False       False
123044       False          False      False   False  False  False       False
123045       False          False      False   False  False  False       False

[123046 rows x 7 columns]
Count total NaN at each column in a DataFrame:
 State_Name       0
District_Name    0
Crop_Year        0
Season           0
Crop             0
Area             0
Production       0
dtype: int64

#  Find the median value of every attribute and replace with NaN in df2 ?

In [24]:
median_value=df_1['Production'].median()

In [25]:
print(median_value)

825.0

In [26]:
df_2=df_2.fillna(median_value)

details = pd.DataFrame(df_2, columns =['State_Name','District_Name','Crop_Year','Season','Crop','Area','Production'], ) 
             
print(" \nshow the boolean Dataframe :\n", details.isna()) 
  
print("Count total NaN at each column in a DataFrame:\n",details.isnull().sum())

show the boolean Dataframe :
         State_Name  District_Name  Crop_Year  Season   Crop   Area  Production
123047       False          False      False   False  False  False       False
123048       False          False      False   False  False  False       False
123049       False          False      False   False  False  False       False
123050       False          False      False   False  False  False       False
123051       False          False      False   False  False  False       False
...            ...            ...        ...     ...    ...    ...         ...
246086       False          False      False   False  False  False       False
246087       False          False      False   False  False  False       False
246088       False          False      False   False  False  False       False
246089       False          False      False   False  False  False       False
246090       False          False      False   False  False  False       False

[123044 rows x 7 columns]
Count total NaN at each column in a DataFrame:
 State_Name       0
District_Name    0
Crop_Year        0
Season           0
Crop             0
Area             0
Production       0
dtype: int64

# Find correlation in df1, df2 and visualize it ?

In [27]:
df_1.corrwith(df_2, axis = 1)

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
246086   NaN
246087   NaN
246088   NaN
246089   NaN
246090   NaN
Length: 246090, dtype: float64

# Convert df1 into Min Max normalized format.

In [29]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
temp1 = pd.DataFrame(df_1, columns =['Area','Production'], )
scaler.fit(temp1)
MinMaxScaler(copy=True, feature_range=(0, 1))

print("After Min Max normalization\n\n")
print(scaler.transform(temp1))

After Min Max normalization


[[1.42978175e-03 1.77777778e-06]
 [2.23481788e-06 8.88888889e-10]
 [1.16256138e-04 2.85333333e-07]
 ...
 [1.09460468e-06 8.88888889e-10]
 [9.07609710e-06 7.11111111e-09]
 [6.28302628e-02 4.03582222e-05]]

# Convert df2 into Standarized format.

In [30]:
from sklearn.preprocessing import StandardScaler

standardscaler = StandardScaler()
temp2 = pd.DataFrame(df_2, columns =['Area','Production'], )

temp2 = standardscaler.fit_transform(temp2)

print("After Standard normalization\n\n")
print(scaler.transform(temp2))

After Standard normalization


[[-2.96687292e-07 -2.06899843e-11]
 [-2.97026866e-07 -2.06902396e-11]
 [-9.82508393e-08 -1.90152507e-11]
 ...
 [-2.91271977e-07 -1.86160669e-11]
 [ 4.69201549e-06  5.56355640e-11]
 [-2.93934953e-07 -2.06792611e-11]]